<router-outlet> </router-outlet>



<footer style="align-self: baseline;">
    <div class="ui  divider"></div>
    <div class="card p-2 m-2" style="background:linear-gradient(135deg,black 60%, #db2777);">
        <div class="ui six doubling cards">
            <div class="card" style="background-color: transparent;box-shadow: none;color:aliceblue;">
              <div class="image">
                <h5>Find out what we've built</h5>
                <ul>
                  <li>Portfolio Websites</li>
                  <li>Landing pages</li>
                  <li>E-commerce</li>
                  <li>Staff portal</li>
                </ul>
              </div>
            </div>
            <div class="card" style="background-color: transparent;box-shadow: none;color:aliceblue;">
              <div class="image">
                <h6>You can find some of our projects on <span style="color:#db2777"><a href="#" style="text-decoration: none;color:#db2777">Github</a></span></h6>
                <p>Some of our projects, especially Python, are not hosted and can only be found on github</p>
                
              </div>
            </div>
            <div class="card" style="background-color: transparent;box-shadow: none;color:aliceblue;">
              <div class="image">
                <h5>How to reach us</h5>
                You can message us on our social media platforms <a href="#" style="text-decoration: none;color: #db2777;">provided</a>. You can as well leave us a message here (Please ensure you leave your email or contact so that we can respond).
              </div>
            </div>
            <div class="card" style="background-color: transparent;box-shadow: none;color:aliceblue;">
              <div class="image">
                <h5>Our Blog</h5>
                <p>We love sharing information on current technologies and trends in the tech industry. Find out what's new on our <a href="#" style="text-decoration: none;color: #db2777;">blog</a>.</p>
              </div>
            </div>
            <div class="card p-5" style="background-color: transparent;box-shadow: none;color:aliceblue;">
              <div class="image">
                <p>All rights reserved <br> <i class="copyright icon" style="background-color: transparent;box-shadow: none;"></i>Vertex 2024</p>
                
              </div>
            </div>
            <div class="card" style="background-color: transparent;box-shadow: none;color:aliceblue;">
              <div class="image" style="position: relative;height: fit-content;width: fit-content;box-shadow: none;">
                <h6>About </h6>
                <img src="img1.jpg"width="100%" style="filter: drop-shadow(16px 16px 20px #db2777);filter: contrast(200%);filter: blur(2px);">
                <div class="content">
                  <p style="color:aliceblue">Hi, my name is Michael.<br> I'm an actuarial Science student and a tech enthusiast</p>
                </div>
              </div>
            </div>
          </div>
    </div>
</footer>

