<router-outlet> </router-outlet>
<footer style="padding-top: 100%;">
    <div class="ui pink double loading card m-auto d-flex">
        <div class="ui card">
            <div class="ui slide masked reveal image">
              <img src="img1.jpg" class="visible content">
              <img src="favicon.jpg" class="hidden content">
            </div>
            <div class="content">
              <a class="header">Team Fu &amp; Hess</a>
              <div class="meta">
                <span class="date">Created in Sep 2014</span>
              </div>
            </div>
            <div class="extra content">
              <a>
                <i class="users icon"></i>
                2 Members
              </a>
            </div>
          </div>
    </div>
    <div class="ui  divider"></div>
    <div class="card">
        <div class="ui six doubling cards">
            <div class="card">
              <div class="image">
                <img src="img1.jpg">
                <!-- <link rel="image" href="img1.jpg"> -->
              </div>
            </div>
            <div class="card">
              <div class="image">
                <img src="img1.jpg">
                <p>Lor</p>
              </div>
            </div>
            <div class="card">
              <div class="image">
                <img src="img1.jpg">
              </div>
            </div>
            <div class="card">
              <div class="image">
                <img src="img1.jpg">
              </div>
            </div>
            <div class="card">
              <div class="image">
                <img src="img1.jpg">
              </div>
            </div>
            <div class="card">
              <div class="image">
                <img src="img1.jpg">
              </div>
            </div>
          </div>
    </div>
</footer>

