<mat-drawer-container class="my-container p-1" style="background-color: black;color: black;">
    <mat-drawer #drawer class="my-drawer" mode="over" position="start" style="background-color: black;width: fit-content;color:green" >
      <div class="ui secondary vertical pointing menu" style="padding-top: 5%;background-color: rgb(5, 1, 1);">
        <a class="item" [routerLinkActive]="newStatus" style="background-color:transparent;">
          <button mat-menu-item routerLink="/" (click)="drawer.toggle();second()">
            <mat-icon style="color: #db2777;background-color:transparent;">menu</mat-icon>
            <span style="color: #db2777;background-color:transparent;">Home</span>
          </button>
        </a>
        <a class="item" [routerLinkActive]="newStatus">
          <button mat-menu-item routerLink="/projects" (click)="drawer.toggle();second()">
            <mat-icon style="color: #db2777;">desktop_mac</mat-icon>
            <span style="color: #db2777;">Projects</span>
          </button>
        </a>
        <a class="item" [routerLinkActive]="newStatus">
          <button mat-menu-item routerLink="/testimonials" routerLinkActive="active" (click)="drawer.toggle()">
            <mat-icon style="color: #db2777;">insert_emoticon</mat-icon>
            <span style="color: #db2777;">Happy Clients</span>
          </button>
        </a>
        <a class="item" [routerLinkActive]="newStatus">
          <button mat-menu-item routerLink="/apitest" routerLinkActive="active" (click)="drawer.toggle()">
            <mat-icon style="color: #db2777;">insert_emoticon</mat-icon>
            <span style="color: #db2777;">Test API</span>
          </button>
        </a>
        <a class="item" [routerLinkActive]="newStatus">
          <button mat-menu-item routerLink="/messageme" (click)="drawer.toggle();second()">
            <mat-icon style="color: #db2777;">ring_volume</mat-icon>
            <span style="color: #db2777;">Contact</span>
          </button>
        </a>
        <a class="item" [routerLinkActive]="newStatus">
          <button mat-menu-item routerLink="/about" (click)="drawer.toggle();second()">
            <mat-icon style="color: #db2777;">code</mat-icon>
            <span style="color: #db2777;">My Tech Stack</span>
          </button>
        </a>
        <a class="item" [routerLinkActive]="newStatus">
          <button mat-menu-item routerLink="/blog" (click)="drawer.toggle();second()">
            <mat-icon style="color: #db2777;">language</mat-icon>
            <span style="color: #db2777;">My blog</span>
          </button>
        </a>
        <a class="item" [routerLinkActive]="newStatus">
          <button mat-menu-item routerLink="/actuarial" (click)="drawer.toggle();second()">
            <mat-icon style="color: #db2777;">functions</mat-icon>
            <span style="color: #db2777;">Life as an Actuary</span>
          </button>
        </a>
        <a class="item" [routerLinkActive]="newStatus">
          <button mat-menu-item routerLink="/math-tutor" (click)="drawer.toggle();second()">
            <mat-icon style="color: #db2777;">self_improvement</mat-icon>
            <span style="color: #db2777;">There's more than coding</span>
          </button>
        </a>
        <a class="item" [routerLinkActive]="newStatus">
          <button mat-menu-item routerLink="/about" (click)="drawer.toggle();second()">
            <mat-icon style="color: #db2777;">person_pin</mat-icon>
            <span style="color: #db2777;">About</span>
          </button>
        </a>
      </div>
    </mat-drawer>
    <mat-drawer-content style="position:relative;overflow-x: hidden;">
      <section style="background-color: black;">
          <button  mat-button (click)="drawer.toggle()">
            <i class="material-icons" style="color: #db2777;">toc</i>
        </button>
       
      </section>
      <!-- <img src="dataSci.jpeg" alt="" width="100%"> -->
       <!-- vimeo -->
       
        <iframe src="https://player.vimeo.com/video/996911442?background=1" frameborder="0" allow="autoplay" width="100%" allowfullscreen style="align-self: center;box-shadow: 4px 3px 5px #000000;filter: drop-shadow(16px 16px 20px  #000000);filter: contrast(200%);overflow-x: hidden;" width="600" height="300" class="d-flex m-auto">              
        </iframe>
        
      <script src="https://player.vimeo.com/api/player.js"></script>
      <!-- vimeo -->
      <div class="my-drawer-content" style="justify-content: center;position:absolute;top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);">
        

          <div class="p-8 m-2" style="position: sticky;">
            <div class="ui card m-auto p-2" style="border-radius: 15px 30px 15px 30px;background-color: transparent;border-color: rgb(36,33,33);font-size: xx-large;width: fit-content;box-shadow: 4px 3px 5px #db2777">
              <h4 style="color: transparent;
              background-clip: text;
              background-color: #db2777;font-size: 50px;">
                WELCOME  TO  <span style="font-size:50px;"><b>VERTEX</b></span>
              </h4>
              <!-- <p style="color: transparent;
              background-clip: text;
              background-image: linear-gradient(to right, #28ff21, #0de9f1, #db2777);">The solution to all your software problems</p> -->
            </div>
          </div>
          <div class="m-2"></div>
          

          
      </div>
      <div class="p-2">       
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
  
  
 <button mat-button [matMenuTriggerFor]="otherOptions">Find out more <span style="color: teal;">Here</span></button>
  <mat-menu #otherOptions="matMenu">

    <button mat-menu-item [matMenuTriggerFor]="otherCervices">Other Services</button>
    <button mat-menu-item [matMenuTriggerFor]="funHobbyCareer"  >Learn & have fun</button>
    
  </mat-menu>
  
  <mat-menu #funHobbyCareer="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="dataSci">Data Science</button>
    <button mat-menu-item [matMenuTriggerFor]="actuarialSci">Actuarial Science</button>
    <button mat-menu-item [matMenuTriggerFor]="pureMath">Mathematics</button>
    <button mat-menu-item>Game development</button>
    <button mat-menu-item>Gaming</button>
  </mat-menu>
  
  <mat-menu #otherCervices="matMenu">
    <button mat-menu-item routerLink="/projects">UI/UX development</button>
    <button mat-menu-item routerLink="/projects">Mobile App development</button>
    <button mat-menu-item routerLink="/math-tutor">Math Tutor for Highschool and college</button>
    <button mat-menu-item routerLink="/assignment-help">Help with a project/Assignment</button>
    <button mat-menu-item [matMenuTriggerFor]="progLang">Coding tutor</button>
  </mat-menu>

  <mat-menu #dataSci="matMenu">
    <button mat-menu-item routerLink="/dataSci">Supervised & Unsupervised Learning</button>
    <button mat-menu-item routerLink="/dataSci">Regression</button>
    <button mat-menu-item routerLink="/dataSci">Data analysis</button>
    <button mat-menu-item routerLink="/dataSci">Python,R and SQL</button>
    <button mat-menu-item routerLink="/dataSci">Excel</button>
  </mat-menu>
  
  <mat-menu #actuarialSci="matMenu">
    <button mat-menu-item routerLink="/actuarial">Financial Mathematics</button>
    <button mat-menu-item routerLink="/actuarial">Statistics</button>
    <button mat-menu-item routerLink="/actuarial">Probability</button>
    <button mat-menu-item routerLink="/actuarial">Actuarial Modelling</button>
  </mat-menu>
  
  <mat-menu #pureMath="matMenu">
    <button mat-menu-item routerLink="/pure-math">Calculus</button>
    <button mat-menu-item routerLink="/pure-math">Linear algebra</button>
    <button mat-menu-item routerLink="/pure-math">Financial Mathematics</button>
    <button mat-menu-item routerLink="/pure-math">Pure Mathematics</button>
    <button mat-menu-item disabled>Books for aspiring actuaries</button>
  </mat-menu>
  <mat-menu #progLang="matMenu">
    <button mat-menu-item routerLink="/developer">Python</button>
    <button mat-menu-item routerLink="/developer">JavaScript</button>
    <button mat-menu-item routerLink="/developer">TypeScript</button>
    <button mat-menu-item routerLink="/developer">Lua</button>
    <button mat-menu-item routerLink="/developer">Flask</button>
    <button mat-menu-item routerLink="/developer">NodeJs</button>
    <button mat-menu-item routerLink="/developer">ExpressJs</button>
    <button mat-menu-item routerLink="/developer">Angular</button>
    <button mat-menu-item routerLink="/developer">HTML/CSS</button>
  </mat-menu> 
  

<router-outlet> </router-outlet>


<!-- leave a review -->