<div class="ui horizontal divider" style="color: transparent;
background-clip: text;
background-color:#db2777;">Let's Dive into some of the technologies used</div>
<!--  -->
<div class="ui six doubling  cards p-2 m-3">
  <div class="card" style="background-color: rgb(255, 240, 247);box-shadow: 4px 3px 5px #db2777">
    <div class="image p-2">
      <i class="angular icon" style="visibility: visible;color: crimson;justify-self: center;zoom:400%"></i>
      <h4 class="display-4" style="color: crimson;">Angular</h4>
      <p style="color: crimson;">Angular is our primary frontend JavaScript framework</p>
    </div>
  </div>
  <div class="card" style="background-color: rgb(245, 252, 245);box-shadow: 4px 3px 5px rgb(199, 250, 199)">
    <div class="image p-2">
      <i class="node icon" style="visibility: visible;color: green;justify-self: center;zoom:400%"></i>
      <h4 class="display-4" style="color: green;">Node Js</h4>
      <p style="color: green;">Node Js is a Backend JavaScript framework</p>
    </div>
  </div>
  <div class="card" style="background-color: rgb(250, 224, 224);box-shadow: 4px 3px 5px rgb(247, 131, 131)">
    <div class="image p-2">
      <i class="npm icon" style="visibility: visible;color: red;justify-self: center;zoom:400%"></i>
      <h4 class="display-4" style="color: red;">NPM</h4>
      <p style="color: red;">NPM is used for package management</p>
    </div>
  </div>
  <div class="card" style="background-color: rgb(245, 252, 232);box-shadow: 4px 3px 5px rgb(223, 247, 175)">
    <div class="image p-2">
      <i class="python icon" style="visibility: visible;color: yellowgreen;justify-self: center;zoom:400%"></i>
      <h4 class="display-4" style="color: yellowgreen;">Python</h4>
      <p style="color: yellowgreen;">We use python for data analysis and backend with flask framework</p>
    </div>
  </div>
  <div class="card" style="background-color:rgb(225, 225, 252);box-shadow: 4px 3px 5px rgb(138, 138, 252)">
    <div class="image p-2">
      <i class="r project icon" style="visibility: visible;color: rgb(55, 55, 187);justify-self: center;zoom:400%"></i>
      <h4 class="display-4" style="color: rgb(55, 55, 187);">R</h4>
      <p style="color: rgb(55, 55, 187);">We use R for data visualization and Actuarial modelling</p>
    </div>
  </div>
  <div class="card" style="background-color: rgb(240, 233, 233);box-shadow: 4px 3px 5px rgb(71, 71, 71)">
    <div class="image p-2">
      <i class="github icon" style="visibility: visible;color: black;justify-self: center;zoom:400%"></i>
      <h4 class="display-4" style="color: black;">Github</h4>
      <p style="color: black;">We use Github for version control and collaboration</p>
    </div>
  </div>
</div>

<!--  -->
  <div class="ui teal horizontal divider" style="color: transparent;
  background-clip: text;
  background-image: linear-gradient(to top,#28ff21, #0de9f1, #db2777);">Flask</div>
  <div class="ui internally celled grid">
    <div class="row">
      <div class="three wide column">
        <img src="img1.jpg">
      </div>
      <div class="ten wide column">
        <p>I use python Flask framework for applications requiring data analysis,or generally for applications that require data insights. </p>
      </div>
      <div class="three wide column">
        <img src="img1.jpg">
      </div>
    </div>
    <div class="row">
      <div class="three wide column">
        <img src="img1.jpg">
      </div>
      <div class="ten wide column">
        <p>Image 2</p>
      </div>
      <div class="three wide column">
        <img src="img1.jpg">
      </div>
    </div>
  </div>
  <app-testimonials></app-testimonials>