<div class="p-5">
    <div class="ui card m-auto">
        <div class="content">
          <i class="right floated like icon"></i>
          <i class="right floated star icon"></i>
          <div class="header">
            Michael Owino
        </div>
          <div class="description">
            <button class="mini ui facebook button m-2">
                <i class="facebook icon"></i>
                Facebook
              </button>
              <button class="mini ui twitter button m-2">
                <i class="twitter icon"></i>
                Twitter
              </button>
              <button class="mini ui google plus button m-2">
                <i class="google plus icon"></i>
                Google
              </button>
              <button class="mini ui vk button m-2">
                <i class="vk icon"></i>
                VK
              </button>
              <button class="mini ui linkedin button m-2">
                <i class="linkedin icon"></i>
                LinkedIn
              </button>
              <button class="mini ui instagram button m-2">
                <i class="instagram icon"></i>
                Instagram
              </button>
              <button class="mini ui youtube button m-2">
                <i class="youtube icon"></i>
                YouTube
              </button>
              <button class="mini ui whatsapp button m-2">
                <i class="whatsapp icon"></i>
                WhatsApp
              </button>
              <button class="mini ui telegram button m-2">
                <i class="telegram icon"></i>
                Telegram
              </button>
          </div>
        </div>
        <div class="extra content">
          <span class="left floated like">
            <i class="like icon"></i>
            Like
          </span>
          <span class="right floated star">
            <i class="star icon"></i>
            Favorite
          </span>
        </div>
      </div>
</div>
