
<div class="p-5">
    <div class="ui card m-auto" style="background-color: transparent;box-shadow: none;color:aliceblue;background: linear-gradient(135deg, black 60%,#db2777);box-shadow: 2px 3px 2px #db2777 inset;">
        <div class="content" style="background-color: transparent;box-shadow: none;color:aliceblue;">
          <i class="right floated like icon" style="color: #db2777;"></i>
          <div class="header" style="background-color: transparent;box-shadow: none;color:aliceblue;">
            Social Handles
        </div>
          <div class="description">
            <button class="mini ui facebook button m-2">
                <i class="pi pi-facebook"></i>
                <a href="https://www.facebook.com" style="text-decoration: none;color:aliceblue"> Facebook</a>          
              </button>
              <button class="mini ui secondary button m-2">
                <i class="pi pi-twitter"></i>
                (Formally Twitter)
              </button>
              
              
              <button class="mini ui linkedin button m-2">
                <i class="pi pi-linkedin"></i>
                <a href="https://www.linkedin.com/in/michael-owino-bb2b07260/" style="text-decoration: none;color:aliceblue"> LinkedIn</a>
                
              </button>
              <button class="mini ui red button">
                <i class="pi pi-instagram"></i>
                Instagram
              </button>
              <button class="mini ui negative button">
                <i class="pi pi-reddit"></i>
                Reddit
              </button>
              
              <button class="mini ui whatsapp button m-2">
                <i class="pi pi-whatsapp"></i>
                <a href="https://wa.link/1gb3km" style="text-decoration: none;color:aliceblue"> WhatsApp</a>
              </button>
              <button class="mini ui black button m-2">
                <i class="pi pi-github"></i>
                Github
              </button>
              <button class="mini ui button m-2" style="background: linear-gradient(135deg, black 60%,magenta);color: aliceblue;">
                <i class="pi pi-tiktok"></i>
                <a href="https://www.tiktok.com/@o.micky.o" style="text-decoration: none;color:aliceblue"> TikTok</a>
                
              </button>
              
          </div>
        </div>
        
        <div class="extra content" >
          <span class="left floated like">

            <div class="ui mini labeled button" tabindex="0">
              <div class="ui mini pink button" routerLink="/message">
                <i class="comments icon"></i> Enquire
              </div>
              <a class="ui white  page-link left pointing label" routerLink="/message" style="background-color: aliceblue;border-color: aliceblue;">
                <b>Leave an Enquiry or a comment</b>
              </a>
            </div>

          </span>
          <div class="ui pink basic pointing above label" style="background-color: black;">
            No signup Needed
          </div>
        </div>
      </div>
<br>
      <div class="ui card m-auto" style="background-color: transparent;box-shadow: none;color:aliceblue;background: linear-gradient(135deg, black 60%,#db2777);box-shadow: 2px 3px 2px #db2777;">
        <div class="content" style="color: aliceblue;">
          <p><b>You can also contact us directly via:</b></p>
          <p><b>Call/Text/Whatsapp</b></p>
          <i class="phone icon" style="color:#db2777"></i><span style="color:#db2777"><b>+2547 01136880</b></span><br>
          <div class="ui horizontal divider" style="color: transparent;
          background-clip: text;
          background-color:#db2777;">Or Email</div>
          <i class="envelope icon" style="color:#db2777"></i><span style="color:#db2777"> <b>mickyonyango1544&#64;gmail.com</b></span>
        </div>
      </div>
</div>

<p-scrollTop icon="pi pi-arrow-up" [threshold]="100"></p-scrollTop>

<router-outlet></router-outlet>