<p>Testimonials</p>


<div class="ui card d-flex m-auto p-2">
    <splide [options]="{ type: 'loop', perPage: 3, keyboard: false,autoplay:'pause' }" >
        <splide-slide>
            <img [src]="favicon" alt="" />
        </splide-slide>
        <splide-slide>
            <img [src]="favicon" alt="" />
        </splide-slide>
        <splide-slide>
            <img [src]="favicon" alt="" />
        </splide-slide>
        <splide-slide>
            <img [src]="favicon" alt="" />
        </splide-slide>
        <splide-slide>
            <img [src]="favicon" alt="" />
        </splide-slide>
        <splide-slide>
            <img [src]="favicon" alt="" />
        </splide-slide>
        <splide-slide>
            <img [src]="favicon" alt="" />
        </splide-slide>
        <splide-slide>
            <img [src]="favicon" alt="" />
        </splide-slide>
        
    </splide>
    <div class="splide__progress">
		<div class="splide__progress__bar">
		</div>
  </div>
    


</div>