<div class="ui horizontal divider">Testimonial</div>


<div class="ui card d-flex m-auto p-2">
    <splide [options]="{ type: 'loop', perPage: 3, keyboard: false,autoplay:'pause' }" >
        <splide-slide>
            <img [src]="favicon" alt="" />
        </splide-slide>
        <splide-slide>
            <img [src]="favicon" alt="" />
        </splide-slide>
        <splide-slide>
            <img [src]="favicon" alt="" />
        </splide-slide>
        <splide-slide>
            <img [src]="favicon" alt="" />
        </splide-slide>
        <splide-slide>
            <img [src]="favicon" alt="" />
        </splide-slide>
        <splide-slide>
            <img [src]="favicon" alt="" />
        </splide-slide>
        <splide-slide>
            <img [src]="favicon" alt="" />
        </splide-slide>
        <splide-slide>
            <img [src]="favicon" alt="" />
        </splide-slide>
        
    </splide>
    <div class="splide__progress">
		<div class="splide__progress__bar">
		</div>
  </div>
</div>

<div class="ui horizontal divider">Ratings and Review</div>
<!-- rate -->
<div class="ui four cards">
    <div class="card">
      <div class="image">
        <img src="img1.jpg">
      </div>
      <div class="extra">
        Rating:
      <p-rating stars="5" [ngModel]="value" cancel="false" disabled="false" style="zoom:60%"></p-rating>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="img1.jpg">
      </div>
      <div class="extra">
        Rating:
      <p-rating stars="5" [ngModel]="value" cancel="false" disabled="false" style="zoom:60%"></p-rating>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="img1.jpg">
      </div>
      <div class="extra">
        Rating:
      <p-rating stars="5" [ngModel]="value" cancel="false" disabled="false" style="zoom:60%"></p-rating >
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="img1.jpg">
      </div>
      <div class="extra">
        Rating:
      <p-rating stars="5" [ngModel]="value" cancel="false" disabled="false" style="zoom:60%"></p-rating >
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="img1.jpg">
      </div>
      <div class="extra">
        Rating:
      <p-rating stars="5" [ngModel]="value" cancel="false" disabled="false" style="zoom:60%"></p-rating >
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="img1.jpg">
      </div>
      <div class="extra">
        Rating:
      <p-rating stars="5" [ngModel]="value" cancel="false" disabled="false" style="zoom:60%"></p-rating >
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="img1.jpg">
      </div>
      <div class="extra">
        Rating:
      <p-rating stars="4" [ngModel]="value" cancel="false" disabled="false" style="zoom:60%"></p-rating>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="img1.jpg">
      </div>
      <div class="extra">
        Rating:
      <p-rating stars="4" [ngModel]="value" cancel="false" disabled="false" style="zoom:60%"></p-rating>
      </div>
    </div>
  </div>


