<div class="ui horizontal divider" style="color: transparent;
background-clip: text;
background-image: linear-gradient(to right, #28ff21, #0de9f1, #db2777);">Overview</div>
<section id="homeSection" style="background-color: aliceblue;" class="p-2 m-3">
  <div class="ui card d-flex m-auto p-3" style="background-color: transparent;border-color: transparent;width: fit-content;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;box-shadow: 5px 5px 8px 10px white inset,10px 5px 8px rebeccapurple;">

    <div class="ui card d-flex m-auto p-3" style="background-color: transparent;box-shadow:5px 5px 10px white inset;">
      <h6 style="color: transparent;
    background-clip: text;
    background-image: linear-gradient(to right, #03c5f5, #e211ae, #db2777);">
      We combine innovation, knowledge, and state-of-the-art technology to provide exceptional outcomes.Remember your idea can be implemented into a fully functional Website
    </h6>
    </div>
    <div class="ui segment" style="background-color: aliceblue;">
      <div class="ui two column very relaxed grid">
        <div class="column">
          <h6 style="color: transparent;
    background-clip: text;
    background-image: linear-gradient(to right, #03c5f5, #e211ae, #db2777);">
    We develop all kinds of websites,including but not limited to:</h6>
        </div>
        <div class="column" style="background-color: aliceblue;">
          <div class="ui middle aligned animated list m-0" style="background-color: transparent;">
            <div class="item">
              <i class="paw icon" style="color: transparent;
              background-clip: text;
              background-image: linear-gradient(to right, #03c5f5, #e211ae, #db2777);"></i>
              <div class="content">
                <div class="header" style="color: transparent;
                background-clip: text;
                background-image: linear-gradient(to right, #03c5f5, #e211ae, #db2777);">Landing Pages</div>
              </div>
            </div>
            <div class="item">
              <i class="paw icon" style="color: transparent;
              background-clip: text;
              background-image: linear-gradient(to right, #03c5f5, #e211ae, #db2777);"></i>
              <div class="content" style="color: transparent;
              background-clip: text;
              background-image: linear-gradient(to right, #03c5f5, #e211ae, #db2777);">
                <div class="header" id="head" style="color: transparent;
                background-clip: text;
                background-image: linear-gradient(to right, #03c5f5, #e211ae, #db2777);">E-commerce Websites</div>
              </div>
            </div>
            <div class="item">
              <i class="paw icon" style="color: transparent;
              background-clip: text;
              background-image: linear-gradient(to right, #03c5f5, #e211ae, #db2777);"></i>
              <div class="content">
                <div class="header" style="color: transparent;
                background-clip: text;
                background-image: linear-gradient(to right, #03c5f5, #e211ae, #db2777);">Employee/staff portal</div>
              </div>
            </div>
            <div class="item">
              <i class="paw icon" style="color: transparent;
              background-clip: text;
              background-image: linear-gradient(to right, #03c5f5, #e211ae, #db2777);"></i>
              <div class="content">
                <div class="header" style="color: transparent;
                background-clip: text;
                background-image: linear-gradient(to right, #03c5f5, #e211ae, #db2777);">Sacco website</div>
              </div>
            </div>
            <div class="item">
              <i class="paw icon" style="color: transparent;
              background-clip: text;
              background-image: linear-gradient(to right, #03c5f5, #e211ae, #db2777);"></i>
              <div class="content">
                <div class="header" style="color: transparent;
                background-clip: text;
                background-image: linear-gradient(to right, #03c5f5, #e211ae, #db2777);">Blogging Websites</div>
              </div>
            </div>
            <div class="item">
              <i class="paw icon" style="color: transparent;
              background-clip: text;
              background-image: linear-gradient(to right, #03c5f5, #e211ae, #db2777);"></i>
              <div class="content">
                <div class="header" style="color: transparent;
                background-clip: text;
                background-image: linear-gradient(to right, #03c5f5, #e211ae, #db2777);">Custom made softwares</div>
              </div>
            </div>
          </div> 
        </div>
      </div>
      <div class="ui vertical divider">
        <i class="paw icon" style="color: transparent;
        background-clip: text;
        background-image: linear-gradient(to right, #03c5f5, #e211ae, #db2777);"></i>
      </div>
    </div>

    <h5 style="color: transparent;
    background-clip: text;
    background-image: linear-gradient(to right, #03c5f5, #e211ae, #db2777);">
      We combine innovation, knowledge, and state-of-the-art technology to provide exceptional outcomes.Remember your idea can be implemented into a fully functional Website
    </h5>
  </div>
  <div class="ui horizontal divider">Vertex</div>
  <div class="ui card d-flex m-auto" style="padding: 50px;justify-content: center;">
            
    <p style="color: transparent;
    background-clip: text;
    background-image: linear-gradient(to right, #03c5f5, #e211ae, #db2777);">
      At Vertex, we blend various technologies to bring you exceptional software solutions. <br>
      We are committed to creating solutions that lead to success as your loyal partner. 
    </p>
  </div>
</section>

<div class="m-3"></div>
<div class="ui horizontal divider" style="color: transparent;
background-clip: text;
background-image: linear-gradient(to right, #28ff21, #0de9f1, #db2777);">Notable Projects</div>


<div class="ui segment">
  <div class="ui two column very relaxed grid">
    <div class="column" style="background-color:aliceblue">
      <div class="ui card m-auto d-flex">
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="math.jpeg" class="d-block w-100" alt="math.jpeg">
              <div class="carousel-caption">
                <h5>First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="math.jpeg" class="d-block w-100" alt="math.jpeg">
              <div class="carousel-caption">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="math.jpeg" class="d-block w-100" alt="math.jpeg">
              <div class="carousel-caption">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="math.jpeg" class="d-block w-100" alt="math.jpeg">
              <div class="carousel-caption">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="math.jpeg" class="d-block w-100" alt="math.jpeg">
              <div class="carousel-caption">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="math.jpeg" class="d-block w-100" alt="math.jpeg">
              <div class="carousel-caption">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>  
    </div>

    <!-- column two -->
    <div class="column" style="background-color:aliceblue">
      <div class="ui card m-auto d-flex">
        <div id="myCarousel2" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel2" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel2" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#myCarousel2" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#myCarousel2" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#myCarousel2" data-bs-slide-to="5" aria-label="Slide 6"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="math.jpeg" class="d-block w-100" alt="math.jpeg">
              <div class="carousel-caption">
                <h5>First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="math.jpeg" class="d-block w-100" alt="math.jpeg">
              <div class="carousel-caption">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="math.jpeg" class="d-block w-100" alt="math.jpeg">
              <div class="carousel-caption">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="math.jpeg" class="d-block w-100" alt="math.jpeg">
              <div class="carousel-caption">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="math.jpeg" class="d-block w-100" alt="math.jpeg">
              <div class="carousel-caption">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="math.jpeg" class="d-block w-100" alt="math.jpeg">
              <div class="carousel-caption">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel2" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#myCarousel2" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
  
    </div>
    
  </div>
  <div class="ui vertical divider" style="color: transparent;
  background-clip: text;
  background-image: linear-gradient(to right, #28ff21, #0de9f1, #db2777);">
    <i class="paw icon"></i>
  </div>
</div>


    


<app-projects></app-projects>